In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [6]:
for i in [1, 2, 3, 4, 5]:
    print (i)
    for j in [1, 2, 3, 4, 5]:
        print (j)
        print (i + j)
    print (i)
print ("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

In [7]:
long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18)

In [8]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
easier_to_read_list_of_lists = [[1, 2, 3],
                               [4, 5, 6],
                               [7, 8, 9]]

In [10]:
two_plus_three = 2 + \
3

In [14]:
for i in [1, 2, 3, 4, 5]:
    print(i)

1
2
3
4
5

In [15]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [16]:
import re as regex
my_regex = regex.compile("[0-9]+", re.I)

In [17]:
import matplotlib.pyplot as plt

In [19]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [20]:
match = 10
from re import *
print(match)

<function match at 0x7f71f06c6620>

# Division

Division

In [22]:
print(5/2)

2.5

In [23]:
print(5//2)

2

In [24]:
def double(x):
    return x * 2

# First Class Functions

In [25]:
def apply_to_one(f):
    return f(1)
my_double = double
x = apply_to_one(my_double)

In [26]:
y = apply_to_one(lambda x: 2 * x)

In [27]:
another_double = lambda x: 2 * x
def another_double(x):
    return 2 * x

In [28]:
y = apply_to_one(lambda x: x + 4)

In [30]:
def my_print(message="my default message"):
    print(message)

In [35]:
print(my_print())

my default message
None

In [36]:
my_print("hello")

hello

In [37]:
my_print()

my default message

In [38]:
def subtract(a = 0, b = 0):
    return a - b

In [39]:
subtract(10, 5)

5

In [40]:
subtract(0, 5)

-5

In [41]:
subtract(b=5)

-5

In [42]:
subtract()

0

# Strings

In [43]:
single_quoted_string = 'data science'

In [44]:
double_quoted_string = "data science"

In [45]:
tab_string = "\t"
len(tab_string)

1

In [46]:
print(r"\t")

\t

In [47]:
not_tab_string = r"\t"

In [48]:
len(not_tab_string)

2

In [49]:
multiline_string = """This is the first line
and this is the second line
and this is the third line"""

In [50]:
print(multiline_string)

This is the first line
and this is the second line
and this is the third line

# Exceptions

In [51]:
try:
    print(0/0)
except ZeroDivisionError:
    print("Cannot divide by zero")

Cannot divide by zero

# Lists

In [52]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, []]

In [55]:
list_length = len(integer_list)

In [56]:
print(list_length)

3

In [57]:
length = len(list_of_lists)

In [58]:
print(length)

3

In [59]:
list_sum = sum(integer_list)

In [60]:
print(list_sum)

6

In [67]:
x = range(10)
zero = x[0]
one = x[1]
nine = x[-1]
eight = x[-2]
y = x

In [68]:
1 in [1, 2, 3]

True

In [69]:
0 in [1, 2, 3]

False

In [70]:
x = [1, 2, 3]
x.extend([4, 5, 6])

In [71]:
print(x)

[1, 2, 3, 4, 5, 6]

In [72]:
x = [1, 2, 3]
y = x + [4, 5, 6]

In [73]:
print(y)

[1, 2, 3, 4, 5, 6]

In [74]:
x = [1, 2, 3]
x.append(0)

In [75]:
print(x)

[1, 2, 3, 0]

In [76]:
y = x[-1]
z = len(x)

In [77]:
x, y = [1, 2]
print(x)
print(y)

1
2

In [78]:
_, y = [1, 2]

In [79]:
y

2

# Tuples

In [80]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3

In [81]:
try:
    my_tuple[1] = 3
except TypeError:
    print("Cannot modify a tuple")

Cannot modify a tuple

In [82]:
def sum_and_product(x, y):
    return (x + y), (x * y)

In [83]:
sp = sum_and_product(2, 3)
print(sp)

(5, 6)

In [86]:
s, p = sum_and_product(5, 10)
print(s, p)

15 50

In [87]:
x, y = 1, 2
x, y = y, x

# Dictionaries

In [88]:
empty_dict = {}
empty_dict2 = dict()
grades = {"Joel" : 80, "Tim" : 95}

In [89]:
joels_grade = grades["Joel"]

In [90]:
print(joels_grade)

80

In [92]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("No grade for Kate!")

No grade for Kate!

In [93]:
joel_has_grade = "Joel" in grades
kate_has_grade = "Kate" in grades

In [94]:
print(joel_has_grade)
print(kate_has_grade)

True
False

In [95]:
joels_grade = grades.get("Joel", 0)
kates_grade = grades.get("Kate", 0)

In [96]:
print(joels_grade)
print(kates_grade)

80
0

In [97]:
grades["Tim"] = 99
grades["Kate"] = 100
num_students = len(grades)

In [98]:
print(num_students)

3

In [99]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}
print(tweet)

{'user': 'joelgrus', 'text': 'Data Science is Awesome', 'retweet_count': 100, 'hashtags': ['#data', '#science', '#datascience', '#awesome', '#yolo']}

In [100]:
tweet_keys = tweet.keys()
tweet_values = tweet.values()
tweet_items = tweet.items()

In [106]:
print(tweet_keys)
print(tweet_values)
print(tweet_items)
"user" in tweet_keys
"user" in tweet
"joelgrus" in tweet_values

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])
dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])
dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

True

# defaultdict

In [108]:
word_counts = {}
document = []
for word in document:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

In [109]:
word_counts = {}
for word in document:
    try:
        word_counts[word] += 1
    except KeyError:
        word_counts[word] = 1

In [110]:
word_counts = {}
for word in document:
    previous_count = word_counts.get(word, 0)
    word_counts[word] = previous_count + 1

In [112]:
from collections import defaultdict

word_counts = defaultdict(int)
for word in document:
    word_counts[word] += 1

In [113]:
dd_list = defaultdict(list)
dd_list[2].append(1)

dd_dict = defaultdict(dict)
dd_dict["Joel"]["City"] = "Seattle"

dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][1] = 1

# Counter

In [114]:
from collections import Counter
c = Counter([0, 1, 2, 0])
word_counts = Counter(document)

In [115]:
for word, count in word_counts.most_common(10):
    print(word, count)

# Sets

In [116]:
s = set()
s.add(1)
s.add(2)
s.add(2)
x = len(s)
y = 2 in s
z = 3 in s

In [119]:
hundreds_of_other_words = []
stopwords_list = ["a", "an", "at"] + hundreds_of_other_words + ["yet", "you"]
"zip" is stopwords_list

False

In [120]:
stopwords_set = set(stopwords_list)
"zip" in stopwords_set

False

In [121]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list)
item_set = set(item_list)
num_distinct_items = len(item_set)
distinct_item_list = list(item_set)

# Control Flow

In [122]:
if 1 > 2:
    message = "if 1 were greater than 2..."
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "GOOOOO!!!"

In [123]:
print(message)

GOOOOO!!!

In [124]:
parity = "even" if x % 2 == 0 else "odd"

In [125]:
x = 0
while x < 10:
    print(x, "is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [126]:
for x in range(10):
    print(x, "is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [127]:
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
    print(x)

0
1
2
4

In [128]:
one_is_less_than_two = 1 < 2
true_equals_false = True == False
print(one_is_less_than_two)
print(true_equals_false)

True
False

In [130]:
x = None
print(x)
x is None
print(x)

None
None

In [132]:
def some_functions_that_returns_a_string():
    return "Bangladesh"
s = some_functions_that_returns_a_string()
if s:
    first_char = s[0]
else:
    first_char = ""

In [133]:
print(s)

Bangladesh

In [134]:
first_char = s and s[0]
safe_x = x or 0

In [135]:
all([True, 1, { 3 }])

True

In [136]:
all([True, 1, { }])

False

In [137]:
any([True, 1, {  }])

True

In [138]:
all([])

True

In [139]:
any([])

False

In [140]:
x = [4, 1, 2, 3]
y = sorted(x)
x.sort()

In [141]:
print(x)

[1, 2, 3, 4]

In [142]:
x = sorted([-4, 1, -2, 3], key = abs, reverse = True)

In [143]:
print(x)

[-4, 3, -2, 1]

In [145]:
wc = sorted(word_counts.items(),  reverse = True)

# List Comprehensions

In [2]:
even_numbers = [x for x in range(5) if x % 2 == 0]
squares = [x * x for x in range(5)]
even_squares = [x * x for x in even_numbers]

print(even_numbers)
print(squares)
print(even_squares)

[0, 2, 4]
[0, 1, 4, 9, 16]
[0, 4, 16]

In [147]:
square_dict = {x : x * x for x in range(5)}

In [148]:
square_set = {x * x for x in [1, -1]}

In [149]:
print(square_dict)
print(square_set)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{1}

In [3]:
zeros = [0 for _ in even_numbers]

In [4]:
pairs = [(x, y)
        for x in range(10)
        for y in range(10)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9)]

In [5]:
increasing_pairs = [(x, y)
                   for x in range(10)
                   for y in range(x + 1, 10)]
print(increasing_pairs)

[(0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (5, 6), (5, 7), (5, 8), (5, 9), (6, 7), (6, 8), (6, 9), (7, 8), (7, 9), (8, 9)]

In [6]:
def lazy_range(n):
    i = 0
    while i < n:
        yield n
        i += 1

In [7]:
for i in lazy_range(10):
    print(i)

10
10
10
10
10
10
10
10
10
10

In [10]:
def natural_numbers():
    n = 1
    while True:
        yield n
        if n == 100:
            break
        n += 1

In [11]:
lazy_evens_below_20 = (i for i in lazy_range(20) if i % 2 == 0)

# Randomness

In [12]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]

In [13]:
print(four_uniform_randoms)

[0.8333163824711829, 0.09339545161455676, 0.5505641834631683, 0.3260240186054302]

In [14]:
random.seed(10)
print (random.random())
random.seed(10)
print (random.random())

0.5714025946899135
0.5714025946899135

In [15]:
a = random.randrange(10)
print(a)

6

In [16]:
b = random.randrange(3, 6)

In [17]:
print(b)

4

In [25]:
up_to_ten = [x for x in range(10)]
random.shuffle(up_to_ten)
print(up_to_ten)

[2, 8, 6, 3, 0, 1, 5, 4, 9, 7]

In [26]:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"])

In [27]:
print(my_best_friend)

Alice

In [28]:
lottery_numbers = [_ for _ in range(60)]
winning_numbers = random.sample(lottery_numbers, 6)
print(winning_numbers)

[47, 23, 2, 26, 55, 8]

In [29]:
four_with_replacement = [random.choice(range(10))
                        for _ in range(4)]

In [30]:
print(four_with_replacement)

[9, 5, 6, 6]

# Regular Expressions

In [3]:
import re

# Object-Oriented Programming

In [4]:
class Set:
    def _init_(self, values = None):
        s1 = Set()
        s2 = Set([1, 2, 2, 3])
        
        self.dict = {}
        
        if values is not None:
            for value in values:
                self.add(value)
    def _repr_(self):
        return "Set: " + str(self.dict.keys())
    def add(self, value):
        self.dict[value] = True
    def contains(self, value):
        return value in self.dict
    def remove(self, value):
        del self.dict[value]

In [9]:
def exp(base, power):
    return base ** power

In [10]:
def two_to_the(power):
    return exp(2, power)

In [11]:
two_to_the(5)

32

In [12]:
from functools import partial
two_to_the = partial(exp, 2)
print(two_to_the(3))

8

In [13]:
square_of = partial(exp, power = 2)
print(square_of(3))

9

In [14]:
def double(x):
    return 2 * x

In [15]:
xs = [1, 2, 3, 4]
twice_xs = [double(x) for x in xs]
twice_xs = map(double, xs)
list_doubler = partial(map, double)
twice_xs = list_doubler(xs)

In [16]:
def multiply(x, y): return x * y

In [17]:
products = map(multiply, [1, 2], [4, 5])

In [18]:
def is_even(x):
    return x % 2 == 0

In [19]:
x_evens = [x for x in xs if is_even(x)]
x_evens = filter(is_even, xs)
list_evener = partial(filter, is_even)
x_evens = list_evener(xs)

# Enumerate

In [24]:
enumerate

enumerate

# Zip and argument unpacking

In [27]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
print(zip(list1, list2))

<zip object at 0x7fdf20530cc8>

In [28]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)

In [29]:
letters

('a', 'b', 'c')

In [30]:
numbers

(1, 2, 3)

In [31]:
zip(('a', 1), ('b', 2), ('c', 3))

In [32]:
print(zip)

<class 'zip'>

In [33]:
def add(a, b): return a + b

In [35]:
add(1, 2)

add(*[1, 2])

3

# Args and Kwargs

In [37]:
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

In [38]:
def f1(x):
    return x + 1

In [39]:
g = doubler(f1)
print(g(3))
print(g(-1))

8
0

In [40]:
def f2(x, y):
    return x + y

In [42]:
g = doubler(f2)

In [43]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)
magic(1, 2, key = "word", key2 = "word2")

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [44]:
def other_way_magic(x, y, z):
    return x + y + z

In [46]:
x_y_list = [1, 2]
z_dict = {"z" : 3}
print(other_way_magic(*x_y_list, **z_dict))

6

In [47]:
def doubler_correct(f):
    def g(*args, **kwargs):
        return 2 * f(*args, **kwargs)
    return g
g = doubler_correct(f2)
print(g(1, 2))

6